@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
@font-face {
  font-family: 'Roboto Slab', serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto+Slab');
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Lato');
}

.App {
  text-align: center;
  .list{
    margin-top: 60px;
  }
  .Appheader {
    background-color: #6f6f6f66;
    height: 98.25vh;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
    width: 82.5%;
    margin-left: 17.5%;
    &.appPay_Bill{
      height: 120vh !important;
      
    }&.PB{
      height: 110vh !important;
      
    }
    .menuButton{
      position: relative;
      left: 40px;
    }
    .paper{
      position: relative;
      top: 75px;
      text-align: left;
      width: 96%;
      margin: 0 1.5%;
      .tittleSec{
        margin: 1% 1.5%;
        padding: 20px 0 5px 0;
        font-family: 'Lato' !important;
        border-bottom: 1.5px solid gray;
      }
      .mainHeader{
        margin: 1% 1.5%;
        padding: 20px 0 5px 0;
        font-family: "Roboto Slab" !important;
        font-size: 26px;
        border-bottom: 2px solid gray;
      }
      &:nth-child(2){
        height: 53vh;
        &.paperPay_Bill{
          height: 75vh !important;
        }&.PB{
          height: 60vh !important;
        }
      }
    }
    .card{
      display: flex;
      height: 12vh;
      margin: 30px 10px;
      padding: 0 15px;
    }
    .formControl{
      width: 80%;
      .textField{
        width: 100%;
      }
      .labelMain{
        font-family:  'Lato' !important;
        font-weight: 600;
        font-size: 17px;
      }
      .labelDetails{
        font-family:  'Lato' !important;
        font-weight: 600;
        font-size: 14px;
      }
      .SelectMain{
        font-size: 18px !important;
        font-family: 'Lato' !important;
      }
    }
  }
}
.Applogo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiListItem-root-63.MuiListItem-selected-74{
  background-color: rgba(1, 1, 2, 0.59) !important;
  .iconmenu{
    color: white;
  }
  .menutxt{
    padding: 0 !important;
  }
  span{
    color: white !important;
    font-family: "Roboto Slab" !important;
    font-size: 18px;
  }
  svg{
    color: white;
  }
}

.menutxt{
  padding: 0 !important;
  span{
    font-family: "Roboto Slab" !important;
    font-size: 18px;
  }
}
.appbarmenu{
  font-family: "Roboto Slab" !important;
  font-size: 25px;
}
.MuiInput-underline-267:after{
  border-bottom: 2px solid #3e8424 !important;
}
.buttonsArea{
  position: relative;
  top: 40%;
  /* margin-left: 35px; */
  .btnGeneral{
    background: #3e8424;
    float: right;
    color: white !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: 'Lato' !important;
    padding: 5px 25px !important;
    border-radius: 20px !important;
    letter-spacing: 1px !important;
    box-shadow: 0px 2px 10px 1px #808080ad;
    margin: 10px !important;
  }
}
.MuiButton-root-295:hover {
  text-decoration: none;
  background-color: #3e8424c4 !important;
}
.btnCS{
  position: relative;
  .btnGeneral{
    background: #3e8424;
    float: left;
    color: white !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: 'Lato' !important;
    padding: 5px 25px !important;
    border-radius: 20px !important;
    letter-spacing: 1px !important;
    box-shadow: 0px 2px 10px 1px #808080ad;
    margin: 10px !important;
  }
}
.MuiButton-root-113.MuiButton-disabled-317.btnGeneral{
  background: #3333339e !important;
}
.MuiButton-root-297.MuiButton-disabled-317.btnGeneral{
  background: #3333339e !important;
}
.cardSm{
  height: 3vh;
  display: flex;
  margin: 0 0 0 10px;
 .radioTxt{
    color: black !important;
    font-size: 15px;
    font-family: 'Lato';
  }
}

.card_rc{
  display: flex;
  padding: 0 15px;
  height: 10vh;
  margin: 10px;
}
.SelectMain{
  margin-top: 30px !important;
}
.formControl_select{
  width: 80%;
  margin-top: 10px !important;
}

.btnDone{
  position: relative !important;
 /*  left: 105%; */
  left: 50%;
  top: 30%;
  background: #3e8424 !important;
  color: white !important;
  &.PB{
    top: 50%;
    left: 85%;
  }
}

.imglogo{
  width: 10%;
  position: relative;
  left: 74%;
}
.logoBA{
  position: relative;
  width: 15%;
}